.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}

@media screen and (max-width: 700px) {
    .breadcrum {
        flex-direction: row; 
        align-items: flex-start; 
        gap: 5px;
        margin: 20px; 
        font-size: 10px;
    }

    .breadcrum img {
        width: 5px;
        margin-top: 2px;
    }
}
